{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}


<div class="container">

  <div class="mb-30">&nbsp;</div>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      
      <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
  </nav>

  <h2>Most Popular Products</h2>
  
  <div class="row">

    {% for item in products.products %}
      <div class="col-lg-3 col-sm-4 col-xs-3 mt-3" *ngFor="let product of products">
        <div class="card bg-dark text-white">
          <img height="" class="card-img-top" src="{{item.image}}" alt="{{item.title}}">
          <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
            <p class="card-text">{{item.price}} {{item.currency}}</p>
            <a href="{{item.slug}}" class="btn btn-secondary">More detail</a>
          </div>
        </div>
      </div>

    {% endfor %}

  
  </div>

  <div class="mb-30">&nbsp;</div>

</div>


{% endblock %}